extends layout_report

block content
  section#contenido
        h1 #{ficha.titulo_ficha}
        h2 #{ficha.sub_titulo_ficha}
        p
        a.tema.float_left(href='/biodiversidad2014/visualizador/'+'#{ficha.id_ficha}')
          img(src="#{ficha.imagen_ficha_s}")
          strong VER FICHA

        - var fichaText=ficha.texto_informacion.split("[p]");
        each par in fichaText
          p
            | #{par}  

        - var autores=ficha.autores.split(";");
        
        h3 Autores

        each parAu in autores
          p
            | #{parAu}
            br

        .rounded_box.clear
          h3 Informaci&#243;n de la ficha
          a.link_box(href="#{ficha.pdf_ficha}")
            img(src="/images/sitio/pdf.png")
            h5 DESCARGAR LA FICHA
            span #{ficha.titulo_ficha}
          a.link_box(href="#{ficha.pdf_ficha_metodologica}")
            img(src="/images/sitio/pdf.png")
            h5 Ficha metodol&#243;gica
            span #{ficha.titulo_ficha_metodologica}
          a.link_box(href='/biodiversidad2014/literatura/'+'#{ficha.id_ficha}')
            h5 Literatura Citada

        if contInfo.length != 0

          h3 Contenido asociado

          each cont in contInfo
            a.link_box(href='#{cont.url}')
              h5 #{cont.title}
              span #{cont.text}

        


        
