extends layout_report

block content
  section#contenido
        nav.breadcrumb(2014="")
          a(href='/biodiversidad2014/capitulo/'+'#{ficha.id_capitulo}') Capítulo #{ficha.id_capitulo}
          |  &#62; 
          a(href='/biodiversidad2014/ficha/'+'#{ficha.id_ficha}') Ficha #{ficha.id_ficha}

        h1 #{ficha.titulo_ficha}
        h2 #{ficha.sub_titulo_ficha}
        img.float_right(src="#{ficha.imagen_ficha_s}") 

        - var fichaText=ficha.texto_informacion.split("[p]");

        each par in fichaText
          p
            | #{par}

        - var autores=ficha.autores.split(";");

        h3 Autores

        each parAu in autores
          p
            | #{parAu}
            br

        .rounded_box
          h3 Información de la ficha
          a.link_box(href='#{ficha.pdf_ficha}')
            h5 Título de la ficha
            span #{ficha.titulo_ficha}
          a.link_box(href='#{ficha.pdf_ficha_metodologica}')
            img(src='/images/pdf.png')
            h5 Ficha metodológica
            span #{ficha.titulo_ficha_metodologica}
          a.link_box(href="#")
            h5 Bibliograf&#237;a
            span Ficha metodol&#243;gica # 30
          a.link_box(href='/biodiversidad2014/visualizador/'+'#{ficha.id_ficha}')
            h5 Visualizador
            

        h3 Contenido asociado

        each cont in contInfo
          a.link_box(href='#{cont.url}')
            h5 #{cont.title}
            span #{cont.text}

        
