extends layout_report

block content
  section#contenido
        
        h1 #{capitulo.titulo_capitulo}
        h3 #{capitulo.subtitulo_capitulo}

        - var strh=capitulo.texto_capitulo.split("[p]");
        
        each par in strh
          p
            | #{par}

        p
          strong
            | #{capitulo.autor}
          
        | #{capitulo.cargo}

        br
        br

        h3 FICHAS

        each fic in fichas
          a.tema(href='/biodiversidad2014/ficha/'+'#{fic.id_ficha}')
            img(src='#{fic.image}')
            strong #{fic.title}

        



